<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-rad-studio-samples.ZPM">
    <Module>
      <Name>iris-rad-studio-samples</Name>
      <Version>1.0.1</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>iris-rad-studio</Name>
          <Version>1.*</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="User.forms.PKG"/>
    </Module>
  </Document>
</Export>